
@using WebApplication1.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h3>Products List</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ImageFileName</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in ViewBag.products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td><img src="~/Images2/@product.Image" width="60" /> </td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Buy", "Cart", new { id = product.Id })" class="btn btn-success">AddToCart</a>
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add Product</a>
        </div>
    </div>
    
    
</body>
</html>
