
@using WebApplication1.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h3>Products List</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ImageFileName</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in ViewBag.products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td><img src="~/Images2/@product.Image" width="60" /> </td>
                        <td>@product.Price</td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Buy", "Cart", new { id = product.Id })" class="btn btn-success">AddToCart</a>
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add Product</a>
        </div>
    </div>
    
    @if (ViewBag.NewProduct != null)
    {
        <div class="container mt-4">
            <h2>Newly Added Product</h2>
            <div>
                <p><strong>Name:</strong> @ViewBag.NewProduct.Name</p>
                <p><strong>Description:</strong> @ViewBag.NewProduct.Description</p>
                <p><strong>Price:</strong> @ViewBag.NewProduct.Price</p>
                @* Display the image if available *@
                @if (!string.IsNullOrEmpty(ViewBag.NewProduct.ImageFileName))
                {
                    <img src="~/Images2/@ViewBag.NewProduct.ImageFileName" width="200" alt="Product Image" />
                }
            </div>

            <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back to Products</a>
        </div>
    }
</body>
</html>
